.container {
    padding-top: 66px;
    .title {
        font-weight: 400;
        font-size: 22px;
        color: #555;
        margin-left: 5px;
        margin-bottom: 16px;
    }

    .slider-container {
        margin-bottom: 50px;
    }
}

.btn-icon {
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
}
